<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <title>Tela de Login</title>
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <a href="/reconhecimento">
            <button>Próximo Passo</button>
        </a>
        <a href="/cadastro">
            <button>Criar Conta</button>
        </a>
    </div>
</body>

</html>